@import '../scss/variables.module.scss';
.dnu__section{
  background:rgba(176,157,96,0.3);
}
.dnu__flex__area{
  @include flex();
  justify-content: flex-start;
  align-items: center;
  position:relative;

  @include mq(ts){
    display: block;
    position:inherit;
  }

  .flex__left{
    max-width:650px;
    width:46vw;
    @include mq(ts){
      max-width:inherit;
      width:100%;
    }
  }
  .dnu_image{
    position:absolute;
    right:0;
    max-width: 643px;
    width: 53.5833vw;
    z-index: -1;
    @include mq(ts){
      position:static;
      max-width:inherit;
      width:100%;
    }
  }

  .dnu_image_size{
    width:100%;
    
  }
}

.fadeinUp{
  display: block;
}