@import '../scss/variables.module.scss';
.header__wrap{
    height: 64px;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.header__wraps{
    height: 64px;
    z-index: 100;
    position: fixed;
    width: 100%;
    background:rgba(255,255,255,0.25);
}
.header__flex{
 display: flex;
 justify-content:space-between;
 align-items: center;

 .header__flex__nav{
    @extend .header__flex;
    justify-content: flex-start;
    @extend .mr40;

    @include mq(ts){
        margin-right:0 !important;
        flex-direction: row-reverse;
    }

    .header__nav{
        @extend .mr32;
    }
 }


}