@import '../scss/variables.module.scss';
.text {
 padding:calc(var(--display) * 0.5) 0;
 padding-bottom:calc(var(--display) * 0.7);
}
.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
}
.subtitle {
  font-size: var(--small-heading2); 
}

.flexContainer{
  @include flex();
  //flex-direction: column;
  align-items: flex-start;

  @include mq(ts){
    display:block;
    margin-top:40px;

    h1{
      font-size:64px;
    }
  }
}

/* image */
.right{
  width:50vw;
  @include mq(ts){
    width:100%;
  }
}
.image {
  width: 100%;
  }
  @media (min-width: 768px) {
  .image {
  width: 50%;
  }
}