@import '../scss/variables.module.scss';

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.hero_title,
.description {
  text-align: left;
}

.hero_title{
  font-size:116px;

  @include mq(m){
    font-size:72px;
  }

 
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.topTitle{
  @include mq(s){
    width: calc(100% - 30px);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



.fvArea{
  position:relative;
  top:-64px;
  left:0;
  padding:0 !important;

  .topTitle{
    font-size:96px;
    letter-spacing: 0;
    position:absolute;
   
     top: 40%;
    left:10%;
    z-index:10;
    color:var(--white);
    mix-blend-mode: hard-light;
    

    
    @media screen and (max-width: 1180px) {
      font-size:72px;
      left:5%
    }
    @media screen and  (max-width: 1100px) {
      font-size:64px;
    }
    @media screen and  (max-width: 1024px) {
      font-size:56px;
    }

    @include mq(ts){
      left:5%;
    }
  
    @include mq(s){
      top: 45%;
      text-align: center;
    }

    

    .subtitles{
      font-family: 'Futura',sans-serif;
      font-size:44px;
      letter-spacing: 0.004em;
      @include mq(ts){
        font-size:24px;
        margin-top: 24px;
      }
    }

    .hero_title{
      letter-spacing: 0.05em;

      @include mq(ts){
        font-size:64px;
      }

      @include mq(ts){
        text-align: center;
        line-height:1;
        
      }
  
   
    }




  }
  .canvasPoition{
    position: absolute;
    top: 17%;
    right: 50%;
    width:100%;

    @include mq(ts){
      right:19%;
    }

    canvas{
     
      &:not(:first-of-type){
        display: none;
      }
    }
  }
}

.padding{
  padding:96px 0;
}

.m_none{
  display:none;

  @include mq(m){
    display: block;
  }
}

.s_none{
  display:none;

  @include mq(s){
    display: block;
  }
}

[data-theme="dark"]{
  .fvArea{
    &:after{
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      content: "";
      top: 0;
      left: 0;
      height: calc(100vh + 88px );
    }
  }
  .topTitle{
    mix-blend-mode: difference;
  }
 
}