.basic {
  font-size: 48px;
  font-weight: 500;
  color:var(--black);
}

[data-theme="dark"]{
  .basic{
    color:#fff;
  }
}

  .box {
  @extend .basic;
  display: inline-block;
  padding-left:24px;
 
  }
