@import "../scss/variables.module.scss";
.overflow {
	overflow: hidden;
}
.bg {
	background: #f0efeb !important;
	padding-top: 0;
}

.svg {
	transform: rotate(-180deg);
	display: block;
	fill: transparent;
	stroke: #333;
}

.readmore_readmore__Ri1pm:first-of-type {
	display: none;
}

.overflow {
	position: relative;
}
.heading_q {
	text-align: left;
	margin-bottom: 40px;
}

[data-theme="dark"] {
	.bg {
		background: #2c2c20 !important;
	}
}
