@import '../scss/variables.module.scss';


.me__section{
 background:#F0EFEB;
}
[data-theme="dark"] {
  .me__section{
    background:#2c2c20;
  }
}

.t_center{
  text-align: center;
}

.flex__area{
  @include flex();
  justify-content:space-between;
  align-items: center;

  @include mq(ts){
    display: block;
  }
  .textleftFade{
    display: block;
  }
  
}

.s_block{
  display: block;
  @include mq(s){
    display:none;
  }
}

.s_none{
  display: none;
  @include mq(s){
    display:block;
  }
}


