@import '../scss/variables.module.scss';
.wrap{
  display: flex;

}

.text {
  font-size: 5rem;
  position: absolute;
  pointer-events: none;
  -webkit-text-stroke: 0.6px #ffffff;
  text-transform: uppercase;
  color: #181818;

  span {
    color: white;
  }
}
.t_left{
  text-align: left;
}

.area{
  display: flex;
}

.sr_only{
  display: none;
}


.side_scroll {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}





.side_scroll_list {
  border-left: 1px solid #333;
  position: relative;
  top: 0;
  left: 64px;

  @include mq(m){
    left: 24px;
  }

}

.side_scroll_item {
  
  position: relative;
  font-size: 32px;
  font-weight: 700;
  padding: 24px 0 24px 48px;

  @include mq(m){
    display: block;
  }

  @include mq(s){
    width: calc(100% - 32px);
    padding: 24px 0 24px 24px;
  }

  &:last-of-type{
    align-items: flex-start;
  }

  div{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mq(ts){
      display: block;
    }
  }
  &:before{
    position: absolute;
    top: 32px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50vh;
    content: "";
    background: #333;
  }

  h3{
    font-size: 24px;
    margin-left:16px;

    @include mq(m){
      margin-left:0;
    }

    @include mq(s){
      font-size: 18px;
    }
  }

  h4{
    font-size: 24px;
    @include mq(s){
      font-size: 16px;
    }
  }

  p{
    width:95%;
  }
}
[data-theme="dark"] {
  .side_scroll_list {
    border-color:#fff;
  }
  .side_scroll_item{
    &:before{
     background:#fff;
    }
  }
}




.flex{
  display: flex;
}


.hover{
  
  width:100%;
  height:100%;
  background-image: linear-gradient(90deg,#000 50%,transparent 0);
  background-position: bottom 0 left 100%;
  background-repeat: repeat-x;
  background-size: 200% 1px;
  transition: background-position .2s;
  width:fit-content;

  &:hover{
    background-position: bottom 0 left 0;
  }
}



[data-theme="dark"]{

  .hover{
    background-image: linear-gradient(90deg,#fff 50%,transparent 0);
  }

}





#timeline__text{
  overflow: hidden;
  transform: translate(0,-50px);
}
