@import '../scss/variables.module.scss';

.toggle__flex{
  @include flex();
  column-gap:8px;
  @extend .mr32;
  @extend .ml16;
}
.toggle_Input{
  position: relative;
  width: 2rem;
  height: 1rem;

    .header_toggleInput{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        margin: 0;

        &:checked{
          &+.header_toggleLabel{
            &:after{
              left:17px;
            }
          }
        }
        
    }

    .header_toggleLabel{
      width: 100%;
      height: 100%;
      border: 1px solid var(--black);
      position: relative;
      display: block;
      border-radius: 1rem;
      transition: .3s;

      &:after{
        content: "";
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        left: 1px;
        top: 1px;
        z-index: 0;
        background: var(--black);
        transition: .3s;
      }

     
    }
}