$s: 640px;
$ts: 768px;
$m: 919px;
$xl: 1023px;
$l: 1400px;

$breakpoints: (
  's': 'screen and (max-width: #{$s})',
  'ts': 'screen and (max-width: #{$ts})',
  'm': 'screen and (max-width: #{$m})',
  'xl': 'screen and (max-width: #{$xl})',
  'l': 'screen and (max-width: #{$l})'
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}

@mixin flex($justify:center,$align:center){
  display:flex;
  justify-content: $justify;
  align-items: $align;
}


$spaceClass: true !default;
$spacePadding: false !default;
$endValue: 120 !default;

@if $spaceClass {
	@for $i from 0 through $endValue {
		.mt#{$i * 8} {
			margin-top: 8px * $i !important;
		}
		.mb#{$i * 8} {
			margin-bottom: 8px * $i !important;
		}
    .ml#{$i * 8} {
			margin-left: 8px * $i !important;
		}
    .mr#{$i * 8} {
			margin-right: 8px * $i !important;
		}
		@if $spacePadding {
			.pt#{$i * 8} {
				padding-top: 8px * $i !important;
			}
			.pb#{$i * 5} {
				padding-bottom: 8px * $i !important;
			}
      .pl#{$i * 8} {
				padding-left: 8px * $i !important;
			}
			.pr#{$i * 5} {
				padding-right: 8px * $i !important;
			}
		}
	}
}

$FontClass: true !default;
$endValue: 120 !default;

@if $FontClass {
	@for $i from 0 through $endValue {
		.fs#{$i} {
			font-size: 8px * $i !important;
		}
    @media screen and (max-width:640px){
      .fs_sp#{$i} {
        font-size: 8px * $i !important;
      }
    }
	}

  @for $i from 0 through 9 {
		.fw#{$i} {
			font-weight: 100 * $i !important;
		}
  
    
	}
}