@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: "Futura";
	src: url(font/Futura_Bold_font.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Futura";
	src: url(font/futura_medium_bt.ttf);
	font-weight: 500;
}

@layer base {
	html {
		font-family: "Futura", "Noto Sans JP", sans-serif;
	}
}

@layer components {
	.buttonClass::before {
		content: "";
		@apply absolute;
		@apply left-0;
		@apply top-[-8px];
		@apply z-10;
		@apply h-[1px];
		@apply w-[32px];
	}

	.buttonClass::after {
		content: "";
		@apply absolute;
		@apply left-0;
		@apply top-[-8px];
		@apply z-10;
		@apply h-[1px];
		@apply w-[32px];
	}
}
